.prev-arrow, .next-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50rem;
  width: 59rem;
  height: 59rem;
  background-color: $white;
  cursor: pointer;
  z-index: 10;
}

@include lg {
  .prev-arrow, .next-arrow {
    &:hover {
      width: 60rem;
      height: 60rem;
    }
  }
}
