.banner {
  background: linear-gradient(179deg, #E9A904 0%, #FFC805 100%);

  &__container {
    position: relative;
    padding-top: 86rem;
    text-align: center;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  &__img {
    &_top, &_bottom {
      position: absolute;
      display: flex;
    }

    &_top, &_bottom {
      width: 100%;
      justify-content: center;
    }

    &_top {
      top: 46rem;
      left: 21rem;
      z-index: 2;
      height: 270rem;
    }

    &_bottom {
      align-items: end;
      bottom: 256rem;
      left: 0;
    }
  }

  &__img-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  &__image {
    &_bone, &_ball, &_cat, &_dog {
      width: 100%;
      object-fit: contain;
    }

    &_ball {
      width: 140rem;
      height: 70%;
      transform: rotate(-105deg);
      margin: 0 auto 0 14rem;
    }

    &_bone {
      width: 220rem;
      margin: 36rem 44rem 0 auto;
    }

    &_cat {
      width: 153%;
      max-height: 370rem;
      margin-left: -10rem;
      transform: rotate(355deg);
    }

    &_dog {
      width: 190%;
      max-height: 420rem;
      margin-left: -90rem;
      margin-bottom: -16rem;
      transform: rotate(7deg);
    }
  }

  &__title, &__for-pets {
    position: relative;
    z-index: 2;
  }

  &__title {
    position: relative;
    margin: 112rem 13% 34rem;
    color: $accent;
    letter-spacing: 0.5rem;

    &_duplicate {
      position: absolute;
      z-index: -1;
      top: 4rem;
      left: 1rem;
      color: $dark;
      font-size: $h1-size-mobile;
    }
  }

  &__for-pets {
    display: grid;
    margin: 0 13%;
    padding-bottom: 86rem;
    gap: 116rem 20rem;
    justify-content: center;
  }

  &__for-pets-btn {
    @include pet-button;
  }

  &__btn-text {
    white-space: nowrap;
  }

  &__text {
    margin: 0 30rem;
    grid-column: 1/3;
    grid-row: 1/2;
  }
}

.benefits {
  z-index: 1;
  position: relative;
  padding: 31rem 16rem;
  background-color: $white;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24rem;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20rem;
    font-size: 15rem;

    b {
      font-weight: 500;
    }
  }
}

@include md {
  .banner {
    &__for-pets {
      max-width: 550rem;
      gap: 52rem 118rem;
      margin: 0 auto;
      padding-bottom: 127rem;
    }

    &__title {
      margin: 174rem auto 55rem;
      max-width: 583rem;
      width: 100%;

      &_duplicate {
        font-size: $h1-size;
      }
    }


    &__text {
      max-width: fit-content;
      margin: 0;
    }

    &__for-pets-btn {
      padding: 20rem 30rem;
    }

    &__img {

      &_top {
        max-width: 770rem;
        width: 100%;
        top: 100rem;
        left: 50%;
        transform: translateX(-50%);
      }

      &_bottom {
        bottom: 41rem;
        align-items: center;
      }
    }

    &__image {

      &_bone {
        margin: 0 5rem 0 auto;
        width: 351rem;
        transform: rotate(354deg);
      }

      &_ball {
        width: 180rem;
        height: 70%;
        margin: 0 auto 0 -3rem;
      }

      &_cat {
        width: 130%;
        max-height: 100%;
        transform: rotate(351deg);
        margin-left: 5rem;
        margin-top: 40rem;
      }

      &_dog {
        width: 200%;
        max-height: 100%;
        transform: rotate(7deg);
        margin-left: -225rem;
      }
    }
  }
  .benefits {
    padding: 46rem 92rem 30rem;

    &__list {
      flex-wrap: wrap;
      height: 100rem;
      gap: 25rem 1rem;
    }
  }
}

@include lg {
  .banner {
    &__container {
      padding: 86rem 0 60rem;
    }

    .container {
      padding-left: 15rem;
      padding-right: 15rem;
    }

    &__for-pets {
      display: flex;
      align-items: center;
      max-width: 100%;
      gap: 116rem;
      padding-bottom: 117rem;
    }

    &__for-pets-btn:hover {
      background-color: $white;
    }

    .cat-btn:hover, .cat-btn.hover {
      .banner__arrow {
        transform: rotate(315deg);
      }
    }

    .dog-btn:hover, .dog-btn.hover {
      .banner__arrow {
        transform: rotate(44deg);
      }
    }

    &__title {
      margin: 152rem auto 55rem;
    }

    &__img-container {
      &_cat, &_dog {
        display: flex;
        top: auto;
        bottom: 0;
      }
    }

    &__image {

      &_ball {
        width: 192rem;
        transform: rotate(358deg);
      }

      &_bone {
        width: 330rem;
        margin: -13rem 7rem 0 auto;
      }

      &_cat {
        margin-left: -162rem;

        &:hover {
          scale: 1.1;
        }
      }

      &_dog {
        margin-bottom: 87rem;
        scale: 1.2;
        margin-left: -112rem;

        &:hover {
          scale: 1.3;
        }
      }
    }

    &__img {
      &_top {
        top: 75rem;
      }

      &_bottom {
        bottom: -43rem;
      }
    }

    &__text {
      margin-bottom: 7rem;
    }
  }
  .benefits {
    border-radius: $border-radius;
    box-shadow: 0 5rem 10rem 0 rgba(0, 0, 0, 0.15);
    padding: 41rem 100rem;
    max-width: 1168rem;
    margin: 0 auto;

    &__list {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      height: auto;
      gap: 10rem;
    }
  }
}