.footer {
  background: linear-gradient(180deg, #5F23B4 0%, #4E1D94 100%);

  &__body {
    padding: 50rem 18rem;
    gap: 34rem;
  }

  &__body, &__top {
    display: flex;
    flex-direction: column;
  }

  &__top {
    gap: 34rem;
    padding-bottom: 40rem;
    border-bottom: 1rem solid rgba(255, 255, 255, 0.2);
  }

  &__logo {
    color: $white;
    font-family: 'Amatic SC', cursive;
    font-size: 50rem;
    font-weight: 700;
  }

  &__number-wrapper {
    display: flex;
    gap: 14rem;
    align-items: center;
  }

  &__number {
    font-size: 17rem;
    font-weight: 500;
    color: $white;
  }

  &__social-network {
  }

  &__menu {
  }

  &__menu-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 39rem 30rem;
    height: 248rem;
  }

  &__menu-item {
    font-size: $simple-text-size-mobile;
    color: $white;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 34rem;
  }

  &__cards {
  }

  &__copyright {
    color: $white;
    opacity: 0.5;
    font-size: 13rem;
    text-align: center;
  }


  .logo {
    gap: 29rem;

    &__image {
      width: 58rem;
      height: 74rem;
    }
  }
}

.subscribe {
  position: relative;
  background: linear-gradient(180deg, #893EF4 0%, #722AD8 100%);
  display: flex;
  padding: 52rem 17rem;
  flex-direction: column;
  gap: 29rem;

  &__background {
    width: 100%;
  }

  &__title {
    color: $white;
    margin: 0 18rem;
    font-size: 17rem;
  }

  &__title, &__input-container {
    position: relative;
    z-index: 1;
  }

  &__img-container {
    &_top, &_bottom {
      width: 100%;
      position: absolute;
    }

    &_top {
      top: 0;
      left: -85rem;
      width: 82%;
    }

    &_bottom {
      bottom: 0;
      right: -170rem;
    }
  }

  &__input-container {
    position: relative;
    display: flex;

    input {
      border-radius: $border-radius;
      background-color: $white;
      box-shadow: 0 5rem 30rem 0 rgba(0, 0, 0, 0.20);
      padding: 29rem 112rem 25rem 20rem;
      width: 100%;
      border: none;

      &::placeholder {
        font-size: 16rem;
      }
    }
  }

  &__btn {
    position: absolute;
    display: flex;
    width: 103rem;
    height: 54rem;
    padding: 10rem 15rem;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius;
    background-color: $accent;
    border: none;
    color: $white;
    top: 8rem;
    right: 8rem;
    font-size: 16rem;

  }
}


.social-network {
  &__list {
    display: flex;
    gap: 32rem;
    align-items: center;
  }

  &__item {
    width: 33rem;
    height: 33rem;
    background-color: $accent;
    border-radius: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      display: flex;
      align-items: center;
    }
  }
}

.cards {
  &__list {
    display: flex;
    justify-content: center;
    gap: 10rem;
  }

  &__item {
  }

  &__image {
    border-radius: 10rem;
  }
}


@include md {
  .footer {
  }
}

@include lg {
  .footer {
  }
}
