.footer {
  background: linear-gradient(180deg, #5F23B4 0%, #4E1D94 100%);

  &__body {
    padding: 50rem 18rem 49rem;
    max-width: 1210rem;
    margin: 0 auto;
  }

  &__body, &__top, &__information, &__bottom {
    display: flex;
    flex-direction: column;
    gap: 34rem;
  }

  &__top {
    padding-bottom: 40rem;
    border-bottom: 1rem solid rgba(255, 255, 255, 0.2);
  }

  &__logo {
    color: $white;
    font-family: 'Amatic SC', cursive;
    font-size: 50rem;
    font-weight: 700;
  }

  &__number-wrapper {
    display: flex;
    align-items: center;
    gap: 14rem;
  }

  &__number {
    font-size: 17rem;
    font-weight: 500;
    color: $white;
  }

  &__menu-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 39rem 30rem;
    height: 248rem;
  }

  &__menu-item {
    font-size: $simple-text-size-mobile;
    color: $white;
  }

  &__copyright {
    color: $white;
    opacity: 0.5;
    font-size: 13rem;
    text-align: center;
  }

  .logo {
    gap: 29rem;

    &__image {
      width: 58rem;
      height: 74rem;
    }
  }
}


.social-network {
  &__list {
    display: flex;
    gap: 32rem;
    align-items: center;
  }

  &__item {
    width: 33rem;
    height: 33rem;
    background-color: $accent;
    border-radius: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      display: flex;
      align-items: center;
    }
  }
}

.cards {
  &__list {
    display: flex;
    justify-content: center;
    gap: 10rem;
  }

  &__image {
    border-radius: 10rem;
  }
}


@include md {
  .footer {

    &__body {
      padding: 45rem 18rem 40rem;
      gap: 38rem;
    }

    &__top {
      flex-direction: row;
      gap: 183rem;
      padding-bottom: 62rem;
    }

    &__information {
      gap: 28rem;
    }

    &__bottom {
      flex-direction: row;
      gap: 57rem;
    }

    &__logo, &__number-wrapper, &__social-network, &__menu {
      width: fit-content;
    }

    .logo {
      gap: 21rem;

      &__image {
        width: 55rem;
        height: 72rem;
      }
    }

    &__number-wrapper {
      gap: 7rem;
    }

    &__number {
      font-size: 20rem;
    }

    &__menu-list {
      gap: 23rem 107rem;
      height: 200rem;
      padding: 8rem 0;
    }

    &__copyright {
      font-size: 14.5rem;
      text-align: start;
    }
  }

  .social-network__list {
    gap: 16rem;
  }

  .cards__list {
    justify-content: flex-start;
  }
}

@include lg {
  .footer {

    &__body {
      padding: 45rem 18rem 69rem;
    }

    &__bottom, &__top {
      justify-content: space-between;
    }

    &__top {
      padding-bottom: 43rem;
    }

    &__bottom {
      align-items: center;
    }

    &__information {
      gap: 27rem;
    }

    &__number-wrapper {
      gap: 15rem;
    }

    &__menu {
      margin-right: 56rem;
    }

    &__menu-list {
      align-content: flex-end;
    }

    &__copyright {
      margin-right: 15rem;
    }
  }

  .social-network__list {
    gap: 18rem;
  }
}
