.footer {
  background: linear-gradient(180deg, #5F23B4 0%, #4E1D94 100%);

  &__body {
    padding: 50px 18px;
    gap: 34px;
  }

  &__body, &__top {
    display: flex;
    flex-direction: column;
  }

  &__top {
    gap: 34px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  &__logo {
    color: $white;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    font-weight: 700;
  }

  &__number-wrapper {
    display: flex;
    gap: 14px;
    align-items: center;
  }

  &__number {
    font-size: 17px;
    font-weight: 500;
    color: $white;
  }

  &__social-network {
  }

  &__menu {
  }

  &__menu-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 39px 30px;
    height: 248px;
  }

  &__menu-item {
    color: $white;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 34px;
  }

  &__cards {
  }

  &__copyright {
    color: $white;
    opacity: 0.5;
    font-size: 13px;
    text-align: center;
  }

  
  .logo {
    gap: 29px;

    &__image {
      width: 58px;
      height: 74px;
    }
  }
}

.subscribe {
  position: relative;
  background: linear-gradient(180deg, #893EF4 0%, #722AD8 100%);
  display: flex;
  padding: 52px 17px;
  flex-direction: column;
  gap: 29px;

  &__background {
    width: 100%;
  }

  &__title {
    color: $white;
    margin: 0 18px;
    font-size: 17px;
  }

  &__title, &__input-container {
    position: relative;
    z-index: 1;
  }

  &__img-container {
    &_top, &_bottom {
      width: 100%;
      position: absolute;
    }

    &_top {
      top: 0;
      left: -85px;
      width: 82%;
    }

    &_bottom {
      bottom: 0;
      right: -170px;
    }
  }

  &__input-container {
    position: relative;
    display: flex;

    input {
      border-radius: $border-radius;
      background-color: $white;
      box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.20);
      padding: 29px 112px 25px 20px;
      width: 100%;
      border: none;

      &::placeholder {
        font-size: 16px;
      }
    }
  }

  &__btn {
    position: absolute;
    display: flex;
    width: 103px;
    height: 54px;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius;
    background-color: $accent;
    border: none;
    color: $white;
    top: 8px;
    right: 8px;
    font-size: 16px;

  }
}


.social-network {
  &__list {
    display: flex;
    gap: 32px;
    align-items: center;
  }

  &__item {
    width: 33px;
    height: 33px;
    background-color: $accent;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      display: flex;
      align-items: center;
    }
  }
}

.cards {
  &__list {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  &__item {
  }

  &__image {
    border-radius: 10px;
  }
}


@include md {
  .footer {
  }
}

@include lg {
  .footer {
  }
}
