.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1205px;
  margin: 0 auto;
  z-index: 20;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 17px;
  }

  &__tools {
    display: flex;
    align-items: center;
    gap: 33px;
  }

  &__number {
    font-size: $h3-size;
    font-weight: 500;
    display: none;
    white-space: nowrap;
  }

  &__profile {
  }

  &__open-toggle-menu {
    display: flex;
    align-items: center;
    width: 33px;
    height: 18.207px;
  }

  &__open-toggle-menu-btn {
    font-size: 0;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 1px 16px;
    cursor: pointer;
    border: none;
    background-color: $black;

    &::before, &::after {
      position: absolute;
      left: 0;
      padding: 1px 16.5px;
      content: '';
      background-color: $black;
    }

    &::before {
      top: -11px;
    }

    &::after {
      top: 11px;
    }
  }

  &__toggle-menu {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    display: none;
    background-color: $white;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;

  &__image {
    width: 43px;
  }

  &__text {
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
    font-weight: 700;
  }
}

.menu {
  display: none;

  &__item {
    b {
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

.basket {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;

  &__image {
    padding: 11px 13.5px;
    border-radius: 50px;
    background-color: $accent;
  }

  &__counter {
    position: absolute;
    right: -1px;
    bottom: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    color: $white;
    border-radius: 50px;
    background: $gradient;
  }

  &__price {
    display: none;
  }
}

.toggle-menu {
  padding: 0 0 50px;
  border-radius: 0 0 20px 20px;

  &__top-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px;
    border-bottom: 1px solid $light-gray;
  }

  &__logo {
    font-size: 24px;
    font-weight: 700;
  }

  &__close-btn {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
    color: #8936FF;
    border: 1px solid #8936FF;
    border-radius: 50px;
    background-color: $white;
  }

  &__container {
    padding: 20px 16px 60px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  &__item {
    font-size: 16px;
  }

  &__number {
    font-size: $h3-size;
    font-weight: 500;
    padding: 0 16px;
    white-space: nowrap;
  }
}

@include md {
  .header {
    &__container {
      padding: 5px 17px;
    }

    &__number {
      display: block;
    }

    &__tools {
      gap: 26px;
    }
  }
  .logo {
    &__image {
      width: 38px;
    }

    &__text {
      font-size: 28px;
    }
  }
  .basket {
    padding: 8px 9.5px;

    &__counter {
      left: 43px;
      bottom: 4px;
    }

    &__price {
      font-weight: 500;
      display: block;
    }
  }
  .toggle-menu {
    &__list {
      flex-wrap: wrap;
      height: 140px;
    }

    &__number {
      display: none;
    }
  }
}

@include lg {
  .header {
    &__number {
      margin: 0 51px 0 auto;
    }

    &__open-toggle-menu {
      display: none;
    }

    &__tools {
      gap: 47px;
    }
  }
  .logo {
    gap: 15px;
  }
  .menu {
    display: block;
    width: 100%;

    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
    }
  }
  .basket {
    padding: 8px 0;
  }
}