.popular-products {
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1198px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 52px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 15px;
    margin: 34px 0 44px;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    border-radius: $border-radius;
    border: 1px solid $light-gray;
    padding: 15px;
    width: calc(50% - 7.5px);
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__discount, &__new {
    position: absolute;
    top: 15px;
    left: 16px;
    width: fit-content;
    padding: 5px 10px;
    border-radius: $border-radius;
    color: $white;
  }

  &__discount {
    border-radius: 20px;
    background: linear-gradient(179deg, #E9A904 0%, #FFC805 100%);
  }

  &__new {
    background-color: #23E26F;
  }

  &__img-container {
    width: 100%;
    overflow: hidden;
  }

  &__image {
    width: 100%;
  }

  &__title {
  }

  &__stars-container {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__stars-range {
    display: flex;
    gap: 7px;
  }

  &__stars-count {
    font-size: 12px;
  }

  &__price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__price, &__curr-price {
    font-size: 18px;
    font-weight: 500;
  }

  &__curr-price {
    color: #FFC805;
  }

  &__prev-price {
    font-size: 12px;
    text-decoration-line: line-through;
    color: $dark-gray;
  }

  &__btn-in-basket {
    @include button;
    padding: 13px 15px;
    gap: 5px;
    background-color: $accent;
    color: $white;

    img {
      width: 16px;
      height: 16px;
    }
  }

  &__for-pets {
    display: flex;
    gap: 15px;
    justify-content: center;
  }

  &__btn {
    @include pet-button;
    gap: 12px;
    padding: 32px 15px;
  }

  &__btn-for-cat {
    button {
      border: 2px solid $cat;
    }
  }

  &__btn-for-dog {
    button {
      border: 2px solid $dog;
    }
  }
}

@include md {
  .popular-products {
    padding-bottom: 80px;

    &__list {
      display: flex;
      flex-wrap: nowrap;
      margin: 40px 0 44px;
    }

    &__item {
      width: calc(32.7% - 5px);
      flex-shrink: 0;
      padding: 30px 17px;
      gap: 25px;
    }

    &__discount, &__new {
      top: 16px;
      left: 20.5px;
      padding: 8px 11px;
    }

    &__stars-container {
      margin-top: 10px;
    }

    &__stars-range {
      gap: 6px;
    }

    &__price-container {
      margin-top: -7px;
    }

    &__price, &__curr-price {
      font-size: 22px;
    }

    &__prev-price {
      font-size: 16px;
    }

    &__btn-in-basket {
      font-size: 22px;
      padding: 8px 16px;
      gap: 17px;
    }

    &__btn {
      padding: 28px 26px 28px 31px;
      gap: 10px;
    }

    &__btn-title {
      font-size: 15px;
    }
  }
}

@include lg {
  .popular-products {
    padding-bottom: 130px;

    &__list {
      gap: 30px;
      margin: 40px 0 53px;
    }

    &__item {
      flex-shrink: 1;
      padding: 19px 17px;
      gap: 8px;
    }

    &__stars-container {
      margin-top: 25px;
    }

    &__price-container {
      margin-top: 12px;
    }

    &__btn-in-basket {
      padding: 8px 22px;
    }

    &__for-pets {
      gap: 30px;
    }
  }
}