.popular-products {
  padding-right: 15rem;
  padding-left: 15rem;
  max-width: 1198rem;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 53rem;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 12rem 15rem;
    margin: 34rem 0 44rem;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    border-radius: $border-radius;
    border: 1rem solid $light-gray;
    padding: 15rem;
    width: calc(50% - 7.5rem);
  }

  &__information, &__item {
    display: flex;
    flex-direction: column;
    gap: 15rem;
  }

  &__discount, &__new {
    position: absolute;
    top: 13rem;
    left: 16rem;
    width: fit-content;
    padding: 13rem 27rem;
    border-radius: $border-radius;
    color: $white;
  }

  &__discount {
    border-radius: 20rem;
    background: linear-gradient(179deg, #E9A904 0%, #FFC805 100%);
  }

  &__new {
    background-color: #23E26F;
  }

  &__img-container {
    width: 100%;
    overflow: hidden;
  }

  &__image {
    width: 100%;
  }

  &__title {
    font-size: $simple-text-size-mobile;
  }

  &__stars-container {
    display: flex;
    align-items: center;
    gap: 15rem;
  }

  &__stars-range {
    display: flex;
    gap: 7rem;
  }

  &__stars-count {
    font-size: 12rem;
  }

  &__price-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price-wrapper {
    display: flex;
    align-items: center;
    gap: 10rem;
  }

  &__price, &__curr-price {
    font-size: 18rem;
    font-weight: 500;
  }

  &__curr-price {
    color: #FFC805;
  }

  &__prev-price {
    font-size: 12rem;
    text-decoration-line: line-through;
    color: $dark-gray;
  }

  &__btn-in-basket {
    @include button;
    padding: 14rem 15rem;
    gap: 5rem;
    background-color: $accent;
    color: $white;

    img {
      width: 16rem;
      height: 16rem;
    }
  }

  &__for-pets {
    display: flex;
    gap: 15rem;
    justify-content: center;
  }

  &__btn {
    @include pet-button;
    gap: 12rem;
    padding: 32rem 15rem;
  }

  &__btn-for-cat {
    button {
      border: 2rem solid $cat;
    }
  }

  &__btn-for-dog {
    button {
      border: 2rem solid $dog;
    }
  }
}

@include md {
  .popular-products {
    padding-bottom: 80rem;

    &__list {
      display: flex;
      flex-wrap: nowrap;
      margin: 40rem 0 49rem;
    }

    &__item {
      width: calc(32.7% - 5rem);
      flex-shrink: 0;
      padding: 32rem 17rem 22rem;
      gap: 22rem;
    }

    &__information {
      gap: 24rem;
    }

    &__title {
      font-size: $simple-text-size;
    }

    &__discount, &__new {
      top: 16rem;
      left: 20.5rem;
      padding: 8rem 11rem;
    }

    &__stars-container {
      margin-top: 10rem;
    }

    &__stars-range {
      gap: 6rem;
    }

    &__price-container {
      margin-top: -7rem;
    }

    &__price, &__curr-price {
      font-size: 22rem;
    }

    &__prev-price {
      font-size: 16rem;
    }

    &__btn-in-basket {
      font-size: 22rem;
      padding: 10rem 16rem;
      gap: 17rem;
    }

    &__btn {
      padding: 28rem 26rem 28rem 31rem;
      gap: 10rem;
    }

    &__btn-title {
      font-size: 15rem;
    }
  }
}

@include lg {
  .popular-products {
    padding-bottom: 130rem;

    &__list {
      gap: 30rem;
      margin: 40rem 0 54rem;
    }

    &__item {
      flex-shrink: 1;
      padding: 19rem 17rem;
    }

    &__information, &__item {
      gap: 8rem;
    }

    &__stars-container {
      margin-top: 25rem;
    }

    &__price-container {
      margin-top: 12rem;
    }

    &__btn-in-basket {
      padding: 8rem 22rem;
    }

    &__for-pets {
      gap: 30rem;
    }
  }
}