.subscribe {
  background: linear-gradient(180deg, #893EF4 0%, #722AD8 100%);
  overflow: hidden;

  .container {
    padding: 52rem 17rem;
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 29rem;
  }

  &__background {
    width: 100%;
  }

  &__title {
    color: $white;
    margin: 0 18rem;
    font-size: 17rem;
  }

  &__title, &__input-container {
    position: relative;
    z-index: 1;
  }

  &__img-container {
    &_top, &_bottom {
      width: 100%;
      position: absolute;
    }

    &_top {
      top: 0;
      left: -85rem;
      width: 307rem;
    }

    &_bottom {
      bottom: -152rem;
      right: -173rem;
      width: 360rem;
      transform: rotate(275deg);
    }
  }

  &__input-container {
    position: relative;
    display: flex;

    input {
      border-radius: $border-radius;
      background-color: $white;
      box-shadow: 0 5rem 30rem 0 rgba(0, 0, 0, 0.20);
      padding: 29rem 112rem 25rem 20rem;
      width: 100%;
      border: none;
      outline: none;

      &::placeholder {
        font-size: 16rem;
      }
    }
  }

  &__btn {
    position: absolute;
    display: flex;
    width: 103rem;
    height: 54rem;
    padding: 10rem 15rem;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius;
    background-color: $accent;
    border: none;
    color: $white;
    top: 8rem;
    right: 8rem;
    font-size: 16rem;
  }
}

@include md {
  .subscribe {

    .container {
      padding: 47rem 141rem;
    }

    &__container {
      gap: 34rem;
    }

    &__img-container {
      &_top {
        left: 29rem;
        width: 360rem;
      }

      &_bottom {
        bottom: -119rem;
        right: -26rem;
        width: 345rem;
        transform: rotate(2deg);
      }
    }

    &__title {
      text-align: center;
      margin: 0 48rem;
      font-size: 20rem;
    }

    &__input-container {

      input {
        padding: 32rem 156rem 29rem 29rem;
      }
    }

    &__btn {
      width: 140rem;
      height: 61rem;
      right: 5rem;
    }
  }
}

@include lg {
  .subscribe {

    .container {
      padding: 51rem 158rem;
    }

    &__container {
      gap: 28rem;
      margin: 0 auto;
      max-width: 1300rem;
      align-items: center;
      flex-direction: row;
    }

    &__title {
      max-width: 379rem;
      margin: 0;
    }

    &__input-container {
      width: 100%;

      input {
        padding: 32rem 200rem 29rem 21rem;
        font-size: 15rem;
        font-weight: 300;
      }
    }

    &__btn {
      width: 171rem;
      height: 61rem;
      right: 14rem;
    }
  }
}