$gradient: linear-gradient(92deg, #F28C05 0%, #FFBC05 100%), #FFEAEA;
$subscribe-bg: linear-gradient(94deg, #893EF4 0%, #722AD8 100%);
$footer-bg: linear-gradient(94deg, #5F23B4 0%, #4E1D94 100%);
$black: #000000;
$white: #FFFFFF;
$transparent-white: #FFFFFFE5;
$accent: #8936FF;
$dark: #5F23B4;
$dark-gray: #5A5A5A;
$light-gray: #EEEEEE;
$light-purple: #F8F2FF;
$cat: #F9B105;
$dog: #BE6E53;
$border-radius: 20rem;
$h1-size: 90rem;
$h1-size-mobile: 50rem;
$h2-size: 36rem;
$h2-size-mobile: 26rem;
$h3-size: 20rem;
$h3-size-mobile: 16rem;
$simple-text-size: 15rem;
$simple-text-size-mobile: 14rem;
$text-size-mobile: calc(1vw / 3.85);
$text-size-tablet: calc(1vw / 7.68);
$text-size-desktop: calc(1vw / 19.2);
$screen-sm-min: 385px;
$screen-md-min: 768px;
$screen-lg-min: 1000px;

