$gradient: linear-gradient(92deg, #F28C05 0%, #FFBC05 100%), #FFEAEA;
$accent: #8936FF;
$dark: #5F23B4;
$dark-gray: #5A5A5A;
$light-gray: #EEEEEE;
$light-purple: #F8F2FF;
$cat: #F9B105;
$dog: #BE6E53;
$white: #FFFFFF;
$transparent-white: #FFFFFFE5;
$black: #000000;
$subscribe-bg: linear-gradient(94deg, #893EF4 0%, #722AD8 100%);
$footer-bg: linear-gradient(94deg, #5F23B4 0%, #4E1D94 100%);
$border-radius: 20px;
$h1-size: 90px;
$h2-size: 36px;
$h3-size: 20px;
$text-size: 15px;
$h1-size-mobile: 48px;
$h2-size-mobile: 24px;
$h3-size-mobile: 16px;
$text-size-mobile: 14px;
$screen-sm-min: 385px;
$screen-md-min: 768px;
$screen-lg-min: 1000px;

