@import 'additional/variables';
@import 'additional/mixins';
@import 'additional/fonts';
@import 'components/header';
@import 'components/banner';
@import 'components/special-offer';
@import 'components/popular-products';
@import 'components/reviews';
@import 'components/about-us';
@import 'components/footer';

html,
body {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: $text-size-mobile;
  font-weight: 400;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $white;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  color: $black;
}

a,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  padding: 0;
  list-style: none;
}

h1 {
  @include h1-title-mobile;
}

h2 {
  @include h2-title-mobile;
}

h3 {
  @include h3-title-mobile;
}

.container {
  max-width: 1300px;
}

.cat, .dog {
  text-transform: uppercase;
  font-weight: 500;
}

.cat {
  color: $cat;
}

.dog {
  color: $dog;
}

@include md {
  html,
  body {
    font-size: $text-size;
  }
  h1 {
    @include h1-title;
  }
  h2 {
    @include h2-title;
  }
  h3 {
    @include h3-title;
  }
}