@import 'additional/variables';
@import 'additional/mixins';
@import 'additional/fonts';
@import 'components/about-us';
@import 'components/arrows';
@import 'components/banner';
@import 'components/dots';
@import 'components/footer';
@import 'components/header';
@import 'components/popular-products';
@import 'components/reviews';
@import 'components/special-offer';
@import 'components/subscribe';

html,
body {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  font-size: $text-size-mobile;
  position: relative;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $white;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  color: $black;
}

a,
p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  padding: 0;
  list-style: none;
}

h1 {
  @include h1-title-mobile;
}

h2 {
  @include h2-title-mobile;
}

h3 {
  @include h3-title-mobile;
}

.container {
  max-width: 1300rem;
  padding-left: 15rem;
  padding-right: 15rem;
  margin: 0 auto;
}

.popular-products, .about-us {
  padding-top: 53rem;
}

.cat, .dog {
  font-weight: 500;
  text-transform: uppercase;
}

.cat {
  color: $cat;
}

.dog {
  color: $dog;
}

.headline {
  text-align: center;
}

@include md {
  html,
  body {
    font-size: $text-size-tablet;
  }

  * {
    font-size: $simple-text-size;
  }

  .popular-products, .about-us {
    padding-top: 80rem;
  }

  h1 {
    @include h1-title;
  }
  h2 {
    @include h2-title;
  }
  h3 {
    @include h3-title;
  }
}

@include lg {
  html,
  body {
    font-size: $text-size-desktop;
  }
  .popular-products, .about-us {
    padding-top: 141rem;
  }
}