<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div id="root" class="paw-shop">
  <header class="paw-shop__header header">
    <div class="header__logo logo">
      <img src="<%= require('./images/logo/logo-dark.svg') %>" alt="Logo"/>
      <span class="logo__text">PawShop</span>
    </div>
    <nav class="header__menu menu">
      <ul class="menu__list">
        <li class="menu__item"><a href="#">For <b>cat</b></a></li>
        <li class="menu__item"><a href="#">For <b>dog</b></a></li>
        <li class="menu__item"><a href="#">Contacts</a></li>
        <li class="menu__item">Tracking</li>
      </ul>
    </nav>
    <div class="header__tools">
      <div class="header__number">1-800-055-5566</div>
      <div class="header__profile">
        <img src="<%= require('./images/icons/user.svg') %>" alt="Profile">
      </div>
      <div class="header__basket basket">
        <div class="basket__image">
          <img src="<%= require('./images/icons/basket.svg') %>" alt="Basket">
        </div>
        <div class="basket__counter">2</div>
        <div class="basket__price">$8</div>
      </div>
    </div>
    <div class="header__toggle-menu toggle-menu">
      <div class="toggle-menu__btn">
        <span></span>
      </div>
      <div class="toggle-menu__top-block">
        <div class="toggle-menu__logo">Menu</div>
        <div class="toggle-menu__close-btn">&#x2715</div>
      </div>
      <nav class="toggle-menu__container">
        <ul class="toggle-menu__list">
          <li class="toggle-menu__item">Home</li>
          <li class="toggle-menu__item">For <span class="toggle-menu__cat">cat</span></li>
          <li class="toggle-menu__item">For <span class="toggle-menu__dog">dog</span></li>
          <li class="toggle-menu__item">Contacts</li>
          <li class="toggle-menu__item">Tracking</li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="paw-shop__main-page main-page page">
    <section class="main-page__banner banner">
      <div class="banner__container container">
        <h1 class="banner__title">Make your pet’s life better</h1>
        <div class="banner__for-pets">
          <div class="banner__btn-for-cat btn-container">
            <button>
              <img src="<%= require('./images/icons/arrow.svg') %>" alt="arrow">
              For <span class="banner__cat">cat</span></button>
          </div>
          <div class="banner__text">Toys and accessories that your pet will like</div>
          <div class="banner__btn-for-dog btn-container">
            <button>For <span>dog</span>
              <img src="<%= require('./images/icons/arrow.svg') %>" alt="arrow">
            </button>
          </div>
        </div>
        <div class="banner__benefits benefits">
          <ul class="benefits__list">
            <li class="benefits__item">
              <img src="<%= require('./images/icons/star.svg') %>" alt="">
              <b>Unique</b>
              products
            </li>
            <li class="benefits__item">
              <img src="<%= require('./images/icons/support.svg') %>" alt="">
              <b>24/7</b>support
            </li>
            <li class="benefits__item">
              <img src="<%= require('./images/icons/return.svg') %>" alt="">
              <b>Free
                return</b> within 15 days
            </li>
            <li class="benefits__item"><img src="<%= require('./images/icons/checkmark.svg') %>" alt=""><b>Happy</b>
              pet
            </li>
          </ul>
        </div>
        <img src="<%= require('./images/background/ball.png') %>" alt="Ball">
        <img src="<%= require('./images/background/bone.png') %>" alt="Bone">
        <img src="<%= require('./images/background/cat.png') %>" alt="Cat">
        <img src="<%= require('./images/background/dog.png') %>" alt="Dog">
      </div>
    </section>
    <section class="main-page__special-offer special-offer">
      <div class="special-offer__container container">
        <div class="special-offer__slider">
          <div class="special-offer__slide">
            <img src="<%= require('./images/background/cart-transparent.png') %>" alt="Special Offer">
            <div class="special-offer__information">
              <h1 class="special-offer__title"><span>FREE</span>SHIPPING</h1>
              <p class="text">Go to your shopping cart and use promocode <span>FREESHIPPING</span></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="main-page__popular-products popular-products">
      <h1 class="popular-products__headline headline">Popular products</h1>
      <div class="popular-products__list">
        <div class="popular-products__item">
          <img class="popular-products__image" src="<%= require('./images/products/toy1.jpg') %>" alt="Product">
          <div class="popular-products__title">Ball for a dog «Denta Fun» d=5 см (rubber)</div>
          <div class="popular-products__stars-container">
            <div class="popular-products__stars-range">
              <img src="<%= require('./images/icons/stars.svg') %>" alt="Star">
              <img src="<%= require('./images/icons/stars.svg') %>" alt="Star">
              <img src="<%= require('./images/icons/stars.svg') %>" alt="Star">
              <img src="<%= require('./images/icons/stars.svg') %>" alt="Star">
              <img src="<%= require('./images/icons/stars.svg') %>" alt="Star">
            </div>
            <div class="popular-products__stars-count">2</div>
          </div>
          <div class="popular-products__price-container">
            <div class="popular-products__price">$4</div>
            <div class="popular-products__btn-in-basket btn-container">
              <button>+<img src="<%= require('./images/icons/basket.svg') %>" alt="In Basket"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="popular-products__for-pets">
        <div class="popular-products__btn-for-cat btn-container">
          <button class="popular-products__btn">
            Products for
            <span class="popular-products__cat">cat</span>
            <img src="<%= require('./images/icons/cat.svg') %>" alt="Cat"><img
                  src="<%= require('./images/icons/arrow.svg') %>" alt="Arrow">
          </button>
        </div>
        <div class="popular-products__btn-for-dog btn-container">
          <button class="popular-products__btn">
            Products for
            <span class="popular-products__dog">dog</span>
            <img src="<%= require('./images/icons/dog.svg') %>" alt="Dog"><img
                  src="<%= require('./images/icons/arrow.svg') %>" alt="Arrow">
          </button>
        </div>
      </div>
    </section>
    <section class="main-page__reviews reviews">
      <div class="reviews__container container">
        <h1 class="reviews__headline headline">Reviews</h1>
        <div class="reviews__slider">
          <div class="reviews__slide">
            <div class="date">19.07.2022</div>
            <div class="reviews__user">
              <div class="reviews__username">Alex</div>
              <div class="reviews__stars">
                <img src="<%= require('./images/icons/stars.svg') %>" alt="Star">
                <img src="<%= require('./images/icons/stars.svg') %>" alt="Star">
                <img src="<%= require('./images/icons/stars.svg') %>" alt="Star">
                <img src="<%= require('./images/icons/stars.svg') %>" alt="Star">
                <img src="<%= require('./images/icons/stars.svg') %>" alt="Star">
              </div>
            </div>
            <div class="reviews__body">Dog loved this thing even before I got it completely out of the box. Within 1 hr.
              cover was torn and inside exposed. Tossing, chewing and shaking went on for an hour straight. Removed it
              from her mouth and all goes back to good. Might have been a one off, but be watchful. Would buy again.
            </div>
            <div class="reviews__images">
              <img class="reviews__image" src="<%= require('./images/reviews/review.jpg') %>" alt="Review">
              <img class="reviews__image" src="<%= require('./images/reviews/review.jpg') %>" alt="Review">
              <img class="reviews__image" src="<%= require('./images/reviews/review.jpg') %>" alt="Review">
              <span class="reviews__show-more-image">+5</span>
            </div>
            <a href="#" class="reviews__link">See the product
              <img src="<%= require('./images/icons/arrow.svg') %>" alt="Arrow">
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="main-page__about-us about-us">
      <div class="about-us__container container">
        <h1 class="about-us__headline headline">About us</h1>
        <div class="about-us__text-container">
          <img class="about-us__image" src="<%= require('./images/pets/dog.jpg') %>" alt="Dog">
          <h4 class="about-us__title">
            <b>Playtime</b> is your pup’s <b>favorite time</b>. Your dog needs play for his overall health and
            happiness.
          </h4>
          <p> Dogs are pack
            animals, requiring physical play with you and other dogs. One of the most important benefits of doggie play
            is that it’s a bonding opportunity for you and your canine companion. Another benefit of pup play is
            exercise.</p>
          <p> Playtime is also a great opportunity for puppy teaching moments. You can train your dog through play, and
            with dog toys. We carries the best dog toys from top dog toy makers like USA Bones & Chews, Nylabone, and
            KONG. There are dog balls and dog fetch toys, dog chew toys, plush dog toys, interactive dog toys, dog
            puzzles and rope and tug dog toys for your pup to play with. </p>
          <p>Plush dog toys are great for canine’s seeking comfort as they
            can ease some pup anxiety. Interactive dog toys help stimulate your pup’s mind, which is the key to a
            fulfilling life. If your pup loves to chew on your prized possessions, dog chew toys can come to the
            rescue.</p>
        </div>
        <div class="about-us__text-container">
          <h4 class="about-us__title">
            Cats <b>love to play</b>, but did you know that playtime is vital activity for kittens and adult cats
            too?
          </h4>
          <p>Here you’ll find the best cat toys for every type of cat personality. For the active cat who’s
            agenda-driven, toys provide a much-needed physical release. </p>
          <p>Having this type of cat personality means your cat loves to hunt, jump
            and run. If your feline friend matches this description, they’ll most likely prefer a playtime that includes
            cat ball toys, cat feather wands, and cat wands & teaser toys. Cat balls and chaser toys allow cats to swat,
            chase and pounce—all their favorite activities.</p>
          <p>The best teaser toys are made with bright colors or sound
            effects to help entice curious cats. Teaser toys allow you to lift the object of desire above the cat where
            they can jump to reach. In addition, cat tunnels, cat chew toys and catnip toys are playtime favorites that
            your cat will love because they each bring something new to the table.</p>
          <img class="about-us__image" src="<%= require('./images/pets/cat.jpg') %>" alt="Cat">
        </div>
      </div>
    </section>
  </div>
  <footer class="paw-shop__footer footer">
    <div class="footer__subscribe subscribe">
      <img class="subscribe__background_top" src="<%= require('./images/background/subscribe1.png') %>" alt="Toy">
      <div class="subscribe__title">Get the latest news and promotions. No spam, just a few emails per year.</div>
      <div class="subscribe__input-container">
        <input type="email" placeholder="Your e-mail">
        <button class="subscribe__btn">Subscribe</button>
        <img class="subscribe__background_top" src="<%= require('./images/background/subscribe2.png') %>" alt="Toy">
      </div>
    </div>
    <div class="footer__body">
      <div class="footer__top">
        <div class="footer__logo logo">
          <img class="logo__image" src="<%= require('./images/logo/logo-dark.svg') %>" alt="Logo">
          PawShop
        </div>
        <div class="footer__number">
          <img src="<%= require('./images/icons/email.svg') %>" alt="Number">
          1-800-055-5566
        </div>
        <div class="footer__social-network social-network">
          <ul class="social-network__list">
            <li class="social-network__item"><a href="#"> <img
                    src="<%= require('./images/social-networks/insta.svg') %>" alt="Instagram"></a></li>
            <li class="social-network__item"><a href="#"> <img
                    src="<%= require('./images/social-networks/facebook.svg') %>" alt="Facebook"></a></li>
            <li class="social-network__item"><a href="#"> <img
                    src="<%= require('./images/social-networks/twitter.svg') %>" alt="Twitter"></a></li>
          </ul>
        </div>
        <nav class="footer__menu">
          <ul class="footer__menu-list">
            <li class="footer__menu-item">Home</li>
            <li class="footer__menu-item">Cat supplies</li>
            <li class="footer__menu-item">Dog supplies</li>
            <li class="footer__menu-item">Contacts</li>
            <li class="footer__menu-item">Tracking</li>
            <li class="footer__menu-item">Terms of Service</li>
            <li class="footer__menu-item">Refund policy</li>
            <li class="footer__menu-item">Privacy policy</li>
            <li class="footer__menu-item">Shipping policy</li>
            <li class="footer__menu-item">FAQ</li>
          </ul>
        </nav>
      </div>
      <div class="footer__bottom">
        <div class="footer__cards cards">
          <ul class="cards__list">
            <li class="cards__item"><img src="<%= require('./images/cards/googlepay.jpg') %>" alt=""></li>
            <li class="cards__item"><img src="<%= require('./images/cards/applepay.jpg') %>" alt=""></li>
            <li class="cards__item"><img src="<%= require('./images/cards/mastercard.jpg') %>" alt=""></li>
            <li class="cards__item"><img src="<%= require('./images/cards/visa.jpg') %>" alt=""></li>
            <li class="cards__item"><img src="<%= require('./images/cards/visa-1.jpg') %>" alt=""></li>
          </ul>
        </div>
        <div class="footer__copyright">
          Copyright © 2022. All Rights Reserved by SleepGo
        </div>
      </div>
    </div>
  </footer>
</div>
</body>
</html>